<% if @signup.errors.any? %>
<% binding.pry %>
  <p> There were errors in your submission </p>
  <ul>
    <% @signup.errors.each do |key, val| %>
      <li><%= key.capitalize %> <%= val %></li>
    <% end %>
  </ul>
<% end %>

<div id="splash-content">
<h1 class="lg-title">LIVRE</h1>
<h1 class="mantra">Make a donation to support startup communities &amp; entrepreneurs around the world. Get exclusive merch from the hottest startups.</h1>
<p>Be the first to slip into TechThreads. Sign up and get deals before anybody else.</p>
</div>


<%= content_for :signup do %>
  <div id="signup-content">
    <!-- <h1>Be the first to slip into TechThreads</h1> -->
    <%= form_for @signup do |f| %>
      <div>
        <%= f.text_field :email, placeholder: "Enter your email", class: "signup" %>
        <%= f.submit "Signup"%>
        <div id="error-msg">
          <p class="error"></p>
        </div>
      </div>
    <% end %>

  <div id="referral-content" hidden>
    <h1>Thanks for believing in our mission!</h1>
    <p>
      Share your unique link via email, Facebook or Twitter.<br> Get exclusive TechThreads deals for each friend who signs up.
    </p>
    <input id="referral-id-share" value="http://localhost:3000/?r_id=c613bc30">

    <div>
      <a href="#" target="_blank">
        <img class="fb-share" src="https://s3.amazonaws.com/techthreads/pages/facebook.jpg" alt="facebook">
      </a>
      <a class="tw-share" href="https://twitter.com/share?text=Check out TechThreads. A startup looking to reinvent the way we wear tech" target="_blank">
        <img src="https://s3.amazonaws.com/techthreads/pages/twitter.jpg" alt="twitter">
      </a>
    </div>
  </div><!-- #referral-content -->

    <div class="arrow"></div>
  </div><!-- #signup-content -->

  <div class="details-content">
    <div class="container">

        <div class="detail">
        <h1>By Entreprenuers</h1>
        <div class="row">
          <div class="col-md-4 tout">
            <div class="placeholder"></div>
            <h2>Founded by Young Entrepreneurs</h2>
            <p>Bring a new era of entrepreneurship to the masses.</p>
          </div>

          <div class="col-md-4 tout">
            <div class="placeholder"></div>
            <h2>The Hottest Startups</h2>
            <p>The most popular startups &amp; founders supporting one mission.</p>
          </div>

          <div class="col-md-4 tout">
            <div class="placeholder"></div>
            <h2>Build a Community</h2>
            <p>Join a community of thinkers &amp; do-ers, passionate about changing the world.</p>
          </div>
        </div>
        <div class="dot"></div>
      </div> <!-- .detail -->

    </div>

    <div id="quote-tout">
      <h1 class="quote">"For too long, information, opportunities and resources have been constraints, they need to be bridges."</h1>
      <h1 class="quoter">- Sharad Vivek Sagar</h1>
    </div>
  </div> <!-- .details-content -->
<% end %> <!-- :signup -->

<script type="text/javascript">
  referrerID = getReferrer();

  // Tweet Share
  window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
