<% if @signup.errors.any? %>
<% binding.pry %>
  <p> There were errors in your submission </p>
  <ul>
    <% @signup.errors.each do |key, val| %>
      <li><%= key.capitalize %> <%= val %></li>
    <% end %>
  </ul>
<% end %>

<div id="splash-content">
<h1 class="lg-title">TechThreads</h1>
<h1 class="mantra">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea. </h1>
</div>


<%= content_for :signup do %>
  <h1>Be the first to slip into TechThreads</h1>
  <%= form_for @signup do |f| %>
    <div>
      <%= f.text_field :email, placeholder: "Enter your email", class: "signup" %>
      <%= f.submit "Signup"%>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  referrerID = getReferrer();
</script>
